/* ======================== Google Fonts ======================= */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

/* =========================== Colors ========================== */
:root {
    --primary-color: hsl(161, 94%, 30%);
}

* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

/* ====================== Navigation ===================== */

.navbar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 8vh;
    align-items: center;
}
a {
    text-decoration: none;
    color: #d2d0db;
}

.navbrand {
    color: #F9FAFB;
    font-size: 2rem;
    padding-left: 1rem;
}

.nav__toggler {
    color: #FFFFFF;
    padding: 0.5rem;
    opacity: .7;
}
.nav__list {
    background-color: #4B5563;
    list-style: none;
    width: 100%;
    transform: translateY(5.5px);
}

.nav__item {
    padding: 0.5rem 0;
}

.nav__item > a {

    color: #d2d0db;
    transition: color 0.3s;
}
.nav__item>a:hover {
    font-size: 120%;
    color: #FFFFFF;
    transition: all 0.2s;
}

/* ================== Collapsible Component =================== */
.collapsible__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    transition: max-height 0.7s;
}

.navbar.collapsible--expanded .nav__toggler {
    opacity: 1;
}

/* ================= Responsive ========================== */
/* Tablets and wider screens */
@media screen and (min-width: 768px) {
    .nav__toggler {
        display: none;
    }

    .nav__list {
        background-color: var(--primary-color);
        width: auto;
        display: flex;
        max-height: 100%;
        opacity: 1;
        transform: translateY(0px);
    }

    .nav__item {
        padding-right: 3rem;
        font-size: 1.2rem;

    }
}